<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zy.home">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name="com.normal.common.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Home"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".view.SocketServerService"></service>

        <activity android:name=".view.SocketActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.FingerprintActivity" />
        <activity android:name=".view.BiometricActivity"></activity>
        <activity android:name=".view.DeepLinkTargetActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="testtest"
                    android:path="/test"
                    android:scheme="xiaoming" />
            </intent-filter>
        </activity>
        <activity android:name=".view.H5Activity" />
        <activity android:name=".view.TestActivity" />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
    </application>

</manifest>